<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Affordable Luxury Homes. We sell Houses and lands.</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|" rel="stylesheet" type="text/css">
    <link href="fonts copy/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="style.css">
    <script data-ad-client="ca-pub-1839129695638567" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-221486888-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-221486888-1');
</script>

</head>


<body>

    <div id="site-content">
        <div class="site-header">
            <div class="container">
                <a href="/" id="branding">
                    <img src="images/logo.png" alt="" class="logo">
                    <div class="logo-text">
                        <h1 class="site-title">SALIS VENTILATED HOMES</h1>
                        <small class="site-description">Affordable luxury homes that you can trust</small>
                    </div>
                </a>
                <!-- #branding -->

                <!-- Default snippet for navigation -->
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item current-menu-item"><a href="/">Home</a></li>
                        <li class="menu-item"><a href="/about">About</a></li>
                        <li class="menu-item"><a href="/projects">All Projects</a></li>
                        <li class="menu-item"><a href="/contact">Contact</a></li>
                    </ul>
                    <!-- .menu -->
                </div>
                <!-- .main-navigation -->
                <div class="mobile-navigation"></div>
            </div>
        </div>
        <!-- .site-header -->

        <main class="main-content">

            <div class="page">
                <div class="container">
                    

                    <p> 

                        Salis Ventilated Homes Limited, established in 2010 and incorporated in 2017, is a foremost construction, engineering and estate development company duly registered with relevant professional bodies


                        .Our core mandate is to promote technological innovation and economic efficiency in the Nigerian construction industry in general and real estate development in particular.
                        
                        Our main objective is to offer a great value for your money through the use of highly durable construction materials and also adopting a sustainable construction method to guarantee a reduction in environmental impact, operational cost and building maintenance cost. 
                        
                        Our goal is to support aspirations of prospective home owners and property investors to make their dreams come true.
                        
                         We have a track record of commitment to quality and excellence in real estate development which our on-going and fully executed premium quality projects can attest to this fact.
                        
                        Moreso, our signature well-designed innovative and support system is to ensure the sustainability of any property we built. This is made possible by our strong team of committed, competent and experienced project consultants, architects, engineers and builders with a very rich expertise in different fields of construction who can handle challenging real estate projects from conception to completion with excellent delivery. 
                        
                        You can acquire our luxury properties with moderate prices located in prime spots in Abuja, the Federal Capital Territory of Nigeria.  Our payment plans are very flexible and most times open for negotiations.
                        
                        Welcome to Salis. The place for affordable luxury homes.
                    </p>

                    <figure class="align-left"><img src="dummy/cover.jpg" alt="Single image"></figure>
                   
                    <hr class="separator">

                    <h2 class="sectiont-title">What we do?</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="feature-numbered">
                                <div class="num">1</div>
                                <h2 class="feature-title">Architectural Design</h2>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature-numbered">
                                <div class="num">2</div>
                                <h2 class="feature-title">General Construction</h2>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature-numbered">
                                <div class="num">3</div>
                                <h2 class="feature-title">Estate Agency</h2>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature-numbered">
                                <div class="num">4</div>
                                <h2 class="feature-title">Property Mangement</h2>
                            </div>
                        </div>
                    </div>

                    <hr class="separator">

                    <main class="main-content">
                        <div class="fullwidth-block latest-projects-section">
                            <div class="container">
                                <h2 class="section-title">Meet The Team</h2>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="project">
                                            <figure class="project-thumbnail"><img src="dummy/md.png" alt="Project 1"></figure>
                                            <h3 class="project-title"><a href="#">Alhaji Saliu Abubakar</a></h3>
                                            <small class="project-subtitle">Managing Director/CEO</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="project">
                                            <figure class="project-thumbnail"><img src="dummy/md.png" alt="Project 1"></figure>
                                            <h3 class="project-title"><a href="#">Mr. Eric Yusuf</a></h3>
                                            <small class="project-subtitle">Executive Manager</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="project">
                                            <figure class="project-thumbnail"><img src="dummy/md.png" alt="Project 1"></figure>
                                            <h3 class="project-title"><a href="#">Mr. Aminu Abubakr</a></h3>
                                            <small class="project-subtitle">General Manager</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="project">
                                            <figure class="project-thumbnail"><img src="dummy/md.png" alt="Project 1"></figure>
                                            <h3 class="project-title"><a href="#">Mrs. Emilia Agu</a></h3>
                                            <small class="project-subtitle">Accounts</small>
                                        </div>
                                    </div>
                                </div>
                                <!-- .row -->
                                <div class="row">
                                   

                                    </div>
                                </div>
                                <!-- .row -->
                            </div>
                            <!-- .container -->
                        </div>
            
                </div>
            </div>
            <!-- .page -->

        </main>
        <!-- .main-content -->

        <footer class="site-footer">
            <div class="container">
                <div class="pull-left">

                    <address>
                        <strong><p>PLOT 10D ROAD 21J BABANGIDA ROAD, FHA, LUGBE ABUJA.</p></strong>
                        <strong><p>NO 4 GASHUA CLOSE, AREA 8, GARKI ABUJA.</p></strong>
                    </address>

                <div><a href="#" class="phone">+234 7061999485, +234 8056175937, +234 9055550460</a> </div>
                </div>
                <!-- .pull-left --> 
                <div class="pull-right">

                    <div class="social-links">

                        <a href="https://web.facebook.com/Salisventilatedhomesltd"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/tv/CWI7nGXoL3o/?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com/Salishomes"><i class="fa fa-twitter"></i></a>

                    </div>

                </div>
                <!-- .pull-right -->

                <div class="colophon">Copyright 2023 SALIS VENTILATED HOMES. Designed by <a href="https://instagram.com/pyeramiddigital/" target="_blank">pyeramid</a>. All rights reserved.</div>

            </div>
            <!-- .container -->
        </footer>
        <!-- .site-footer -->
    </div>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>

</body>

</html>
