<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Affordable Luxury Homes. We sell Houses and lands.</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|" rel="stylesheet" type="text/css">
    <link href="fonts copy/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="style.css">
    <script data-ad-client="ca-pub-1839129695638567" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-221486888-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-221486888-1');
</script>

</head>


<body>

    <div id="site-content">
        <div class="site-header">
            <div class="container">
                <a href="/" id="branding">
                    <img src="images/logo.png" alt="" class="logo">
                    <div class="logo-text">
                        <h1 class="site-title">SALIS VENTILATED HOMES</h1>
                        <small class="site-description">Affordable luxury homes that you can trust</small>
                    </div>
                </a>
                <!-- #branding -->

                <!-- Default snippet for navigation -->
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item current-menu-item"><a href="/">Home</a></li>
                        <li class="menu-item"><a href="/about">About</a></li>
                        <li class="menu-item"><a href="/projects">All Projects</a></li>
                        <li class="menu-item"><a href="/contact">Contact</a></li>
                    </ul>
                    <!-- .menu -->
                </div>
                <!-- .main-navigation -->
                <div class="mobile-navigation"></div>
            </div>
        </div>
        <!-- .site-header -->

        <div class="hero hero-slider">
            <ul class="slides">
                <li data-bg-image="dummy/1.JPG">
                    <div class="container">
                        <div class="slide-title">
                        </div>
                    </div>
                </li>
                <li data-bg-image="dummy/2.jpg">
                    <div class="container">
                        <div class="slide-title">
                        </div>
                    </div>
                </li>
            </ul>
            <!-- .slides -->
        </div>
        <!-- .hero-slider -->

        <main class="main-content">
            <div class="fullwidth-block latest-projects-section">
                <div class="container">
                    <h2 class="section-title">Projects</h2>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="project">
                                <figure class="project-thumbnail"><img src="dummy/1.png" alt="Project 4"></figure>
                                <h3 class="project-title"><a href="">8 UNITS OF 3BEDROOM TERRACE DUPLEX WITH PENTHOUSE, ASOKORO</a></h3>
                                <small class="project-subtitle">N150,000,000</small>
                                <p>AVAILABLE</p>
                            </div>
                        </div>
                      
                           <div class="col-sm-6 col-md-3">
                            <div class="project">
                                <figure class="project-thumbnail"><img src="dummy/2.png" alt="Project 1"></figure>
                                <h3 class="project-title"><a href=""></a>22 UNITS 0F 4BEDROOM TERRACE DUPLEX, WASA DISTRICT</h3>
                                <small class="project-subtitle">N75,000,000</small>
                                <p>AVAILABLE</p>
                            </div>
                        </div>
                           <div class="col-sm-6 col-md-3">
                               <div class="project">
                                   <figure class="project-thumbnail"><img src="dummy/3.png" alt="Project 1"></figure>
                                   <h3 class="project-title"><a href="">3 UNITS OF 3BEDROOM DETACHED DUPLEX, GWARINPA</a></h3>
                                   <small class="project-subtitle">N60,000,000</small>
                                   <p>AVAILABLE</p>
                               </div>
                           </div>
                           <div class="col-sm-6 col-md-3">
                               <div class="project">
                                   <figure class="project-thumbnail"><img src="dummy/4.png" alt="Project 2"></figure>
                                   <h3 class="project-title"><a href="">15 UNITS OF 2BEDROOM LUXURY FLATS, GWARINPA</a></h3>
                                   <small class="project-subtitle">N43,000,000</small>
                                   <p>AVAILABLE</p>
                               </div>
                           </div>
                       </div>
                       <!-- .row -->
                       <div class="row">
                        <div class="col-sm-6 col-md-3">
                               <div class="project">
                                   <figure class="project-thumbnail"><img src="dummy/5.png" alt="Project 4"></figure>
                                   <h3 class="project-title"><a href="">48 UNITS OF 3BEDROOM SEMI-DETACHED DUPLEX WITH BQ, KARMO</a></h3>
                                   <small class="project-subtitle">N70,000,000</small>
                                   <p>AVAILABLE</p>
                               </div>
                           </div>
                           <div class="col-sm-6 col-md-3">
                               <div class="project">
                                   <figure class="project-thumbnail"><img src="dummy/4.png" alt="Project 1"></figure>
                                   <h3 class="project-title"><a href="">22 UNITS OF 3 BEDROOM LUXURY FLATS, DAKIBIYU</a></h3>
                                   <small class="project-subtitle">N53,000,000</small>
                                   <p>AVAILABLE</p>
                               </div>
                           </div>
                           <div class="col-sm-6 col-md-3">
                               <div class="project">
                                   <figure class="project-thumbnail"><img src="dummy/7.png" alt="Project 1"></figure>
                                   <h3 class="project-title"><a href="">100UNITS OF 500SQM PLOTS OF LAND, ACO LUGBE</a></h3>
                                   <small class="project-subtitle">N6,000,000</small>
                                   <p>AVAILABLE</p>
                               </div>
                           </div>
                           <div class="col-sm-6 col-md-3">
                               <div class="project">
                                   <figure class="project-thumbnail"><img src="dummy/8.png" alt="Project 2"></figure>
                                   <h3 class="project-title"><a href="">20 UNITS OF 4BEDROOM TERRACE DUPLEX, DAKIBIYU</a></h3>
                                   <small class="project-subtitle">N75,000,000</small>
                                   <p>AVAILABLE</p>
                               </div>
                           </div>
                       </div>
                       <!-- .row -->
                       <div class="row">
                           <div class="col-sm-6 col-md-3">
                                  <div class="project">
                                      <figure class="project-thumbnail"><img src="dummy/17.png" alt="Project 4"></figure>
                                      <h3 class="project-title"><a href="">6 UNITS OF 3BEDROOM SEMI-DETACHED BUNGALOW, IDU INDUSTRIAL</a></h3>
                                      <small class="project-subtitle">N22,000,000</small>
                                      <p>AVAILABLE</p>
                                  </div>
                              </div>
                              <div class="col-sm-6 col-md-3">
                                <div class="project">
                                    <figure class="project-thumbnail"><img src="dummy/10.png" alt="Project 4"></figure>
                                    <h3 class="project-title"><a href="">20 UNITS OF 600SQM PLOTS OF LAND, BEHIND TRADEMOORE LUGBE</a></h3>
                                    <small class="project-subtitle">N4,500,000</small>
                                    <p>AVAILABLE</p>
                                </div>
                            </div>
                              <div class="col-sm-6 col-md-3">
                                  <div class="project">
                                      <figure class="project-thumbnail"><img src="dummy/11.png" alt="Project 1"></figure>
                                      <h3 class="project-title"><a href="">10 UNITS OF 4 BEDROOM TERRACE DUPLEX, IDU-KARMO</a></h3>
                                      <small class="project-subtitle">N55,000,000</small>
                                      <p>AVAILABLE</p>
                                  </div>
                              </div>
                              <div class="col-sm-6 col-md-3">
                                  <div class="project">
                                      <figure class="project-thumbnail"><img src="dummy/12.png" alt="Project 2"></figure>
                                      <h3 class="project-title"><a href="">30 UNITS OF 2BEDROOM BLOCK OF FLATS, WASA DISTRICT</a></h3>
                                      <small class="project-subtitle">N27,000,000</small>
                                      <p>AVAILABLE</p>
                                  </div>
                              </div>
                              </div>

                              <div class="row">
                              <div class="col-sm-6 col-md-3">
                                <div class="project">
                                    <figure class="project-thumbnail"><img src="dummy/13.png" alt="Project 2"></figure>
                                    <h3 class="project-title"><a href="">7 UNITS OF 5BEDROOM SEMI-DETACHED DUPLEX, LIFECAMP</a></h3>
                                    <small class="project-subtitle">N120,000,000</small>
                                    <p>AVAILABLE</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="project">
                                    <figure class="project-thumbnail"><img src="dummy/14.png" alt="Project 2"></figure>
                                    <h3 class="project-title"><a href="">2O UNITS OF 3BEDROOM TERRACE DUPLEX WITH PENTHOUSE, WUYE-DAKIBIYU</a></h3>
                                    <small class="project-subtitle">N75,000,000</small>
                                    <p>AVAILABLE</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="project">
                                    <figure class="project-thumbnail"><img src="dummy/12.png" alt="Project 2"></figure>
                                    <h3 class="project-title"><a href="">6UNITS OF 3BEDROOM BLOCK OF FLATS, WASA DISTRICT</a></h3>
                                    <small class="project-subtitle">N32,000,000</small>
                                    <p>AVAILABLE</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="project">
                                    <figure class="project-thumbnail"><img src="dummy/16.png" alt="Project 1"></figure>
                                    <h3 class="project-title"><a href="">10 UNITS 4 BEDROOM TERRACE DUPLEX WITH BQ, APO</a></h3>
                                    <small class="project-subtitle">N70,000,000</small>
                                    <p>AVAILABLE</p>
                                </div>
                            </div>
                          </div>
                           <!-- .row -->
                       <div class="row">
               
                        <div class="col-sm-6 col-md-3">
                            <div class="project">
                                <figure class="project-thumbnail"><img src="dummy/17.png" alt="Project 4"></figure>
                                <h3 class="project-title"><a href="">20 UNITS OF 2BEDROOM SEMI-DETACHED BUNGALOW, IDU INDUSTRIAL</a></h3>
                                <small class="project-subtitle">N15,000,000</small>
                                <p>AVAILABLE</p>
                            </div>
                        </div> 
                         
                        <div class="col-sm-6 col-md-3">
                            <div class="project">
                                <figure class="project-thumbnail"><img src="dummy/19.png" alt="Project 4"></figure>
                                <h3 class="project-title"><a href="">20 UNITS OF 2BEDROOM BLOCK OF FLATS, KUBWA</a></h3>
                                <small class="project-subtitle">N43,000,000</small>
                                <p>SOLD OUT</p>
                            </div>
                        </div> 
      
                             
                              </div>

                          <!-- .row -->
                           <!-- .row -->
                           <!-- <button  href="#" type="button">Click Me!</button> -->

                </div>
                
                <!-- .container -->
            </div>
            
            <!-- .fullwidth-block.latest-projects-section -->

            <div class="fullwidth-block image-block" data-bg-image="dummy/cover.jpg"></div>

            <div class="fullwidth-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">

                            <h3 class="section-title">About Us</h3>
                            <p>Salis ventilated Homes Ltd was established in 2010 and incorporated in 2017, it is solely intended to inject ideas in housing and property development in Nigeria.</p>

                        </div>
                        <div class="col-md-4">

                            <h3 class="section-title">High QUality</h3>
                            <p>We work with the latest technology available where possible to ensure quality is always met as we are comitted to delivering the best at all times.</p>


                        </div>
                        <div class="col-md-4">

                            <h3 class="section-title">Safety Control</h3>
                            <p>While we are working to produce quality outcomes, we ensure the right measure are always in place to ensure safety is met at all cost as it is paramount.</p>

                        </div>
                    </div>

                </div>
                <!-- .container -->
            </div>
            <!-- .fullwidth-block -->
        </main>
        <!-- .main-content -->

        <footer class="site-footer">
            <div class="container">
                <div class="pull-left">

                    <address>
                        <strong><p>PLOT 10D ROAD 21J BABANGIDA ROAD, FHA, LUGBE ABUJA.</p></strong>
                        <strong><p>NO 4 GASHUA CLOSE, AREA 8, GARKI ABUJA.</p></strong>
                    </address>

                <div><a href="#" class="phone">+234 7061999485, +234 8056175937, +234 9055550460</a> </div>
                </div>
                <!-- .pull-left --> 
                <div class="pull-right">

                    <div class="social-links">

                        <a href="https://web.facebook.com/Salisventilatedhomesltd"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/tv/CWI7nGXoL3o/?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com/Salishomes"><i class="fa fa-twitter"></i></a>

                    </div>

                </div>
                <!-- .pull-right -->

                <div class="colophon">Copyright 2023 SALIS VENTILATED HOMES. Designed by <a href="https://instagram.com/pyeramiddigital/" target="_blank">pyeramid</a>. All rights reserved.</div>

            </div>
            <!-- .container -->
        </footer>
        <!-- .site-footer -->
    </div>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>

</body>

</html>
