<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Affordable Luxury Homes. We sell Houses and lands.</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|" rel="stylesheet" type="text/css">
    <link href="fonts copy/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="style.css">
    <script data-ad-client="ca-pub-1839129695638567" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-221486888-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-221486888-1');
</script>

</head>


<body>

    <div id="site-content">
        <div class="site-header">
            <div class="container">
                <a href="/" id="branding">
                    <img src="images/logo.png" alt="" class="logo">
                    <div class="logo-text">
                        <h1 class="site-title">SALIS VENTILATED HOMES</h1>
                        <small class="site-description">Affordable luxury homes that you can trust</small>
                    </div>
                </a>
                <!-- #branding -->

                <!-- Default snippet for navigation -->
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item current-menu-item"><a href="/">Home</a></li>
                        <li class="menu-item"><a href="/about">About</a></li>
                        <li class="menu-item"><a href="/projects">All Projects</a></li>
                        <li class="menu-item"><a href="/contact">Contact</a></li>
                    </ul>
                    <!-- .menu -->
                </div>
                <!-- .main-navigation -->
                <div class="mobile-navigation"></div>
            </div>
        </div>
        <!-- .site-header -->

        <main class="main-content">

            <div class="page">
                <div class="container">
                    <div class="filter-links filterable-nav">
                        <select class="mobile-filter">
								<option value="*">Show all</option>
                                <option value=".Completed">Available</option>
                                <option value=".Ongoing">Sold</option>
							</select>
                        <a href="#" class="current wow fadeInRight" data-filter="*">Show all</a>
                        <a href="#" class="wow fadeInRight" data-wow-delay=".2s" data-filter=".Completed">Available</a>
						<a href="#" class="wow fadeInRight" data-wow-delay=".4s" data-filter=".Ongoing">Sold</a>

                    </div>

                    <div class="filterable-items">
                     <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/1.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/2.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/3.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/4.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/5.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Ongoing">
                            <figure class="featured-image">
                                <a href="#"><img src="dummy/gallery/6.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href="#"><img src="dummy/gallery/7.png" alt="#"></a>

                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href="#"><img src="dummy/gallery/8.png" alt="#"></a>

                            </figure>
                        </div>
                        <div class="project-item filterable-item Ongoing">
                            <figure class="featured-image">
                                <a href="#"><img src="dummy/gallery/9.png" alt="#"></a>

                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href="#"><img src="dummy/gallery/10.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href="#"><img src="dummy/gallery/11.png" alt="#"></a>
                            </figure>
                        </div>
                          <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/12.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/13.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/14.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Ongoing">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/15.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/16.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/17.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Ongoing">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/18.png" alt="#"></a>
                            </figure>
                        </div>
                        <div class="project-item filterable-item Completed">
                            <figure class="featured-image">
                                <a href=""><img src="dummy/gallery/19.png" alt="#"></a>
                            </figure>
                        </div>
                        </div>


            <!-- .page -->

        </main>
        <!-- .main-content -->

        <footer class="site-footer">
            <div class="container">
                <div class="pull-left">

                    <address>
                        <strong><p>PLOT 10D ROAD 21J BABANGIDA ROAD, FHA, LUGBE ABUJA.</p></strong>
                        <strong><p>NO 4 GASHUA CLOSE, AREA 8, GARKI ABUJA.</p></strong>
                    </address>

                <div><a href="#" class="phone">+234 7061999485, +234 8056175937, +234 9055550460</a> </div>
                </div>
                <!-- .pull-left --> 
                <div class="pull-right">

                    <div class="social-links">

                        <a href="https://web.facebook.com/Salisventilatedhomesltd"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/tv/CWI7nGXoL3o/?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com/Salishomes"><i class="fa fa-twitter"></i></a>

                    </div>

                </div>
                <!-- .pull-right -->

                <div class="colophon">Copyright 2023 SALIS VENTILATED HOMES. Designed by <a href="https://instagram.com/pyeramiddigital/" target="_blank">pyeramid</a>. All rights reserved.</div>

            </div>
            <!-- .container -->
        </footer>
        <!-- .site-footer -->
    </div>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>

</body>

</html>